<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {{$data := cache "data"}}
        <p>{{.request.URL.Path}}</p>
        <p>
            {{- with index $data 0}}
                {{- .Name -}}
            {{end -}}
        </p>
        <p>Hello world !</p>
    </body>
</html>