{{define "layout"}}
    {{css "versions.css"}}

    <div class="versions">
        {{$versionsMenu := .versions}}
        {{$versionsOrder := .versionsOrder}}
        {{range $name := $versionsOrder}}
            {{$versions := index $versionsMenu $name}}
            <h2 class="versions-type-title">
                {{$name}}
            </h2>

            {{template "versions-type" $versions}}
        {{end}}
    </div>
{{end}}

{{define "versions-type"}}
    <div class="versions-type rounded-big">
        {{range .}}
            {{template "version-cell" .}}
        {{end}}
    </div>
{{end}}


{{define "version-cell"}}
    <div class="version-cell rounded-big">
        <p class="version-name">
            {{.Name}}
        </p>

        <p class="version-sub-count">
            {{$experimental := .GetSnapshotsCountByType "experimental"}}
            {{$snapshots := .GetSnapshotsCountByType "snapshot"}}
            {{$preRelease := .GetSnapshotsCountByType "pre-release"}}
            {{$candidate := .GetSnapshotsCountByType "candidate"}}
            {{$release := .GetSnapshotsCountByType "release"}}

            {{if $experimental}}
                <span class="version-sub-count-experimental">
                    {{$experimental}} experimental<br>
                </span>
            {{end}}
            {{if $snapshots}}
                <span class="version-sub-count-snapshots">
                    {{$snapshots}} snapshots<br>
                </span>
            {{end}}

            {{if $preRelease}}
                <span class="version-sub-count-pre-release">
                    {{$preRelease}} pre-releases<br>
                </span>
            {{end}}

            {{if $candidate}}
                <span class="version-sub-count-candidate">
                    {{$candidate}} candidate releases<br>
                </span>
            {{end}}

            {{if $release}}
                <span class="version-sub-count-release">
                    {{$release}} releases
                </span>
            {{end}}

        </p>

        <div class="version-cell-bottom">
            <p class="date version-date">
                {{formatDate .ReleaseDate "02/01/2006"}}
            </p>

            {{template "btn-go-to" map "URL" .SiteURL "Text" "Go to page"}}
        </div>
    </div>
{{end}}
