{{define "navbar"}}
    <nav class="navbar">
        <a class="navbar-icon" href="/home">
            <img src="/images/logo-dark_64.png" alt="logo">
        </a>
        <div class="nvbar-links">
            <a href="/home">Home</a>
            <button class="navbar-button">Versions</button>
            <a href="/tutorial">Tutorial</a>
        </div>

        <a class="navbar-icon" href="https://github.com/Ayfri/VersionCraft">
            <i class="fa fa-github"></i>
        </a>
    </nav>
{{end}}
