@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('snapshots.css');
@import url('versions.css');
@import url('button.css');
@import url('footer.css');
@import url('menu.css');

:root {
	--button-background: #dddddd;
	--dropdown-border-radius: 8px;
	--page-border-radius: 20px;
	--background-color: #a0a0a0;
	--brighten-color: #eeeeee;
	--nav-color: #212f53;
	--shadow-color: #777777;
}

body {
	background-color: var(--background-color);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	overflow-x: hidden;
}

.page {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 10vw;
	height: 85vh;
}

.image-title {
	margin: 2em;
}

.tutorial {
	align-items: start;
	background-color: var(--brighten-color);
	border-radius: var(--page-border-radius);
	box-shadow: 0 0 10px var(--shadow-color);
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	padding: 1em;
}

.tutorial h2 {
	font-size: 1.8em;
	margin: 0.5em;
}

.tutorial ol {
	font-size: 1.2em;
}

.tutorial li {
	line-height: 1.7em;
	margin-bottom: 0.6em;
}

.tutorial code,
.tutorial kbd {
	background-color: var(--brighten-color);
	border: 1px solid #b4b4b4;
	border-radius: 5px;
	color: #292c2f;
	font-family: monospace;
	padding: 0.1em;
	white-space: nowrap;
}

.tutorial kbd {
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	font-weight: bold;
}

.logo {
	padding: 0 10px 0 0;
}

.logo a {
	padding: 0;
}

.logo img {
	height: 40px;
	width: 40px;
}
