.snapshot-page .snapshot-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
    width: 90%;
}

.snapshot-title {
    margin-bottom: 1em;
}

.snapshot-title h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.snapshot-body {
    margin-bottom: 1em;
}

.snapshot-date {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 1em;
    color: #888;
}

.version-page {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 1em;
    width: 90vw;
    min-height: 50vh;
}

.version-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.version-image-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1em;
}

.version-image {
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 10px #bbb;
    width: 800px;
    max-width: 80vw;
    height: 400px;
    max-height: 60vh;
}

.version-important-description {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
    float: left;
    width: auto;
    height: 25%;
}

.version-snapshots {
    background: #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 5px;
    float: left;
    width: auto;
    height: 75%;
}
