.version-page {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: var(--page-border-radius);
	box-shadow: 0 0 10px var(--shadow-color);
	margin: 0.5em auto 2em auto;
	padding: 1em;
	width: 90vw;
}

.version-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.version-image-and-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.version-image-div {
	display: flex;
	flex-direction: column;
	font-size: 1.4em;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 1em;
}

.version-image {
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-shadow: 0 0 10px #bbbbbb;
	display: block;
	aspect-ratio: 16/9;
	width: auto;
	height: auto;
	min-width: 40vw;
	max-width: 50vw;
	max-height: 60vh;
}

.version-description {
	padding: 2.5vw;
	height: 100%;
	font-size: 1.3em;
}

.version-header h1 {
	font-size: 2.5em;
}

.version-important-description {
	border: 1px solid #dddddd;
	border-radius: 5px;
	float: left;
	padding: 5px;
	width: auto;
}

.version-snapshots {
	background: #dddddd;
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 1em;
	height: 75%;
	min-width: 40vw;
	width: 90%;
}

.version-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1em;
	user-select: none;
}

.version-snapshots-list {
	display: grid;
	grid-template-columns: repeat(1, minmax(200px, 1fr));
	grid-gap: 1em 0;
	justify-items: center;
}

@media (max-width: 800px) {
	.version-image-and-description {
		flex-direction: column;
	}

	.version-image {
		max-width: 100%;
		max-height: 100%;
	}
}