:root {
	--footer-bg-color: var(--dark-bg-200);
	--footer-credits-color: var(--text-color-900);
	--footer-disclaimer-color: var(--text-color-700);
	--footer-links-color: var(--text-color-200);
}

footer {
	align-items: center;
	background-color: var(--footer-bg-color);
	bottom: 0;
	color: var(--text-color-200);
	display: grid;
	grid-template: "links credits disclaimer" 1fr / 1fr 1fr 1fr;
	padding: .8rem 1.5rem;
	width: 100%;
}

.footer-links {
	column-gap: 2rem;
	display: grid;
	font-size: 1.1rem;
	grid-area: links;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: '0 2' '1 3' '4 5';
	padding: .5rem;
	row-gap: 1rem;
	grid-auto-flow: column;
}

.footer-links a {
	white-space: nowrap;
}

.footer-text {
	font-size: .9rem;
}

footer .credits {
	align-self: end;
	color: var(--footer-credits-color);
	grid-area: credits;
	text-align: center;
}

footer .disclaimer {
	color: var(--footer-disclaimer-color);
	grid-area: disclaimer;
	justify-self: end;
}

/* Mobile */

@media screen and (max-width: 700px) {
	footer {
		grid-template: "links" 1fr
						"disclaimer" 1fr
						"credits" 1rem;
		gap: 0;
	}

	.footer-links {
		justify-items: center;
		font-size: 1rem;
	}

	.footer-text {
		font-size: .8rem;
	}

	footer .credits {
		align-self: initial;
	}

	footer .disclaimer {
		text-align: center;
		justify-self: center;
	}
}
